body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: white; /* Dark gradient background */
  color: #e2e8f0; /* Light text color for better readability */
}


.contribution-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.calendar-wrapper {
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

.react-calendar-heatmap .high-contribution {
  fill: #216e39; /* Dark green for high contributions */
}

.react-calendar-heatmap .medium-contribution {
  fill: #30a14e; /* Medium green */
}

.react-calendar-heatmap .low-contribution {
  fill: #40c463; /* Light green */
}

.react-calendar-heatmap .react-calendar-heatmap {
  fill: #ebedf0; /* Default color for no contributions */
}
