.react-calendar {
    width: 100%;
    border: none;
    font-family: Arial, sans-serif;
  }
  
  .react-calendar__tile {
    text-align: center;
  }
  
  .highlight {
    background-color: #00aaff;
    border-radius: 50%;
    color: white;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  